.mainDiv {
    display: flex;
    justify-items: start;
    align-items: center;
    justify-content: center;
    align-content: center;
    margin-top: 177px;
}
.emailAddressDiv {
    margin-bottom: 20px;
}
.passwordDiv {
    margin-bottom: 20px;
}
.submitBtn {
    height: 3em;
    width: 331px;
    border-radius: 5px;
    background-color: #5d5dd9;
    color: white;
    font-weight: bold;
    border: none;
    transition: 2s background-color cubic-bezier(0.075, 0.82, 0.165, 1);
}
.submitBtn:active, 
.submitBtn:hover,
.submitBtn:focus {
    background-color: #060676;
}
.inputForm {
    height: 45px;
    padding-left: 10px;
    border-radius: 5px;
    border: 1px solid #a9a5a5;
    outline: none;
    width: 64%;
}
.paraText {
    font-size: 14px; 
}
.HeaderDiv {
    margin-bottom: 16px;
}
.logoImage {
    height: 21em;
    margin-right: 47px;
    width: 28em;
}