.mainDiv {
    display: grid;
    justify-items: start;
    align-items: center;
    justify-content: center;
    align-content: center;
    margin-top: 177px;
}
.emailAddressDiv {
    margin-bottom: 20px;
}
.passwordDiv {
    margin-bottom: 20px;
}
.submitBtn {
    height: 3em;
    width: 331px;
    border-radius: 5px;
    background-color: blue;
    color: white;
    font-weight: bold;
    border: none;
}
.inputForm {
    height: 3em;
    padding-left: 20px;
    border-radius: 5px;
    border: 1px solid #aeaeae;
    outline: none;
}
.paraText {
    font-size: 14px; 
}
.HeaderDiv {
    margin-bottom: 16px;
}