.homeMainSection {
    display: flex;
    justify-content: center;
    margin-top: 100px;
    margin-right: 95px;
    align-items: center;
}
p {
    margin-top: 0;
    margin-bottom: 0rem;
}
.logoImage {
    height: 307px;
    width: 378px;
}
.formDivContainer {
    margin-top: 20px;
    margin-left: 35px; 
}
.formDiv div {
    margin-bottom: 6px;
}
.formDiv div label {
    font-size: 12px;
}
.inputForm {
    height: 39px;
    padding-left: 10px;
    border-radius: 5px;
    font-size: 13px;
    border: 1px solid #a9a5a5;
    outline: none;
}
.registerBtn {
    height: 2em;
    width: 9em;
    background-color: #5d5dd9;
    border-radius: 5px;
    border: none;
    font-size: 12px;
    font-weight: bold;
    color: white;
}
.checkboxMainDiv {
    display: flex;
    justify-content: space-between;
    font-size: 12px;
}
.checkBoxDiv {
    display: flex;
    justify-content: space-between;
    width: 109px;

}
.dontHaveAnAccountPara {
    font-size: 12px;
}

#flashMessageDiv {
    border: 1px solid rgb(221 221 221);
    position: fixed;
    top: 12%; 
    left: -100%;
    width: 18%;
    text-align: center;
    font-size: 12px;
    float: right;
    height: 27px;
    color: #2f2727;
    padding-top: 3px;
    margin-left: 20px;
    background-color: #fffcd2;
    border-radius: 5px;
    transition: left 0.3s ease-in;
}
#flashMessageDiv.open {
    left: 0; 
    width: 18%;
}
.flashMessageDiv p {
    text-align: left;
    padding-left: 30px;
}
#menuflashMessageDiv {
    border: 1px solid rgb(221 221 221);
    position: fixed;
    top: 8%;
    left: -100%;
    width: 18%;
    text-align: center;
    font-size: 12px;
    float: right;
    height: 27px;
    color: #2f2727;
    padding-top: 3px;
    margin-left: 20px;
    background: #f31616;
    border-radius: 5px;
    transition: left 0.3s ease-in;
    color: white;
    font-weight: bold;
    text-align: left;
    padding-left: 10px;
}
#menuflashMessageDiv.open {
    left: 0;

}

/*{
    /* text-align: left;
    padding-left: -7px;
    top: 12%; 
    left: -100%;
    background: #ff8e2d;
    width: 205px;
    color: white;
    font-size: 15px;
    padding: 10px;
    border-radius: 5px;
    font-weight: bold;
} */