* {
    margin: 0px; 
    padding: 0px; 
}
.dashboardMainSectionOne {
    margin: auto; 
    width: 65%;
    margin-top: 70px; 
}
.dashboardMainSectionTwo {
    margin: auto; 
    width: 65%;
    margin-top: 45px; 
}
.contactsDiv {
    display: flex;
    width: 70%;
    border-left: 22px solid #ff9f2d;
    justify-content: flex-start;
    border-bottom-left-radius: 1em;
    color: white;
    background-color: #38374fed;
    margin-top: 8px;
}
.addContactsDiv {
    display: flex;
    justify-content: flex-start;
    color: white;
    border: 1px solid #e7e7e7;
    margin-top: 8px;
    width: 48em;
    padding: 19px;
    padding-bottom: 38px;
    border-radius: 5px;
    padding-right: 29px; 
}
.contactsDiv div {
    border-left: 1px solid #898989;
    width: 10em;
    height: 3em;
    display: flex;
    align-items: center;
    justify-content: center;
}
.contactsDiv div button {
    height: 3em;
    padding: 6px;
    width: 87%;
    border-radius: 5px;
    border: none;
    font-size: 56%;
}
.contactsDiv div p {
    font-size: 12px;
}
.modifyContact {
    height: 3em;
    padding: 6px;
    background: #ff8e2d;
    border-radius: 5px;
    border: none;
    color: white;
    font-weight: bold;
}
.deleteContact {
    background-color: rgb(195, 16, 16);
    border-radius: 5px;
    border: none;
    color: white;
    font-weight: bold;
}
.dashboardInputForm {
    width: 180px;
    height: 2rem;
    padding-left: 1em;
    font-size: 12px;
    border-radius: 5px;
    margin-left: 10px;
    border: 1px solid #c3c3c3;
}
.saveContactBtn {
    margin-left: 10px;
    height: 34px;
    width: 13em;
    border: none;
    border-radius: 5px;
    color: white;
    font-size: 12px;
    background: #5d5dd9;
    margin-top: 23px;
    font-weight: bold;;
}
.addContactsDiv div label {
    color: black;
    margin-left: 10px; 
    font-size: 13px;
}
.menuContainer {
    position: fixed;
    top: 0;
    left: -300px; /* Hidden by default */
    width: 355px;
    height: 100%;
    background-color: white;
    box-shadow: 2px 0 5px rgba(0,0,0,0.5);
    transition: left 0.3s ease-in;
    padding: 20px;
    z-index: 1000;
}

.menuContainer.open {
    left: 0;
    width: 335px;
}

.closeMenuBtn {
    background: red;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    position: absolute;
    top: 10px;
    right: 10px;
}

.menuContainerInputForm {
    outline: none;
    width: 279px;
    height: 41px;
    border: 1px solid #d3caca;
    padding-left: 10px;
    border-radius: 3px;
    font-size: 12px;

}
.menuContainerFormDivContainer {
    margin-top: 35px;
}
.menuContainerFormDiv {
    margin-bottom: 15px;
}
.menuContainerFormDiv label {
    font-size: 14px;
}
.menuContainerFormDiv.buttonDiv {
    margin-top: 19px;
}
.modifyContactBtn {
    width: 94%;
    height: 44px;
    background-color: #ff8e2d;
    color: white;
    font-weight: bold;
    border: none;
    font-size: 12px;
    border-radius: 5px;
}
.menuNavbar {
    display: flex;
    justify-content: space-between;
}
.menuCloseBtn {
    border: none;
    background: transparent;
    font-size: 20px;
}