* {
    margin: 0px; 
    padding: 0px; 
    font-family: 'Poppins';
}
p {
    margin-top: 0;
    margin-bottom: 0rem;
}
.footerContainer {
    font-size: 12px;
    margin-top: 239px;
}
.mainNav {
    height: 4em;
    background-color: rgb(0, 0, 0);
    display: flex;
    justify-content: space-around;
    align-items: center;
    overflow: hidden;
    position: sticky;
    top: 0;
    z-index: 1000; 
}
.navContainerDiv {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 75%;
}
.rightNav {
    display: flex;
    width: 2em;
    margin-right: 20em;
    justify-content: space-between;
}
.searchInputForm {
    margin-top: 4px;
    height: 35px;
    padding-left: 1em;
    border-radius: 5px;
    margin-right: 5px;
    font-size: 12px;
    outline: none;
    border: 2px solid #a5a5cf;
}
.leftNav {
    display: flex;
    width: 35%;
    justify-content: space-evenly;
}
.leftNav a {
    text-decoration: none;
    color: white;
    font-size: 14px;
}

.leftNav a:hover, 
.leftNav a:focus {
    text-decoration: underline;
}

.mainArticle {
    display: grid;
    padding: 4em;
    align-items: center;
    justify-items: center;
}
.imageProducts {
    height: 200px;
    width: 200px;
    border: 1px solid #f2f2f2;
    border-radius: 11px;
}

.innerMainArticleDiv {
    display: flex;
    width: 50em;
    border: 2px solid #e9e9e9;
    margin-bottom: 1em;
    padding-top: 7px;
    padding-left: 7px;
    padding-bottom: 7px;
}
.imageDiv {
    width: 13em; 
}
.contentsDiv {
    width: 37em;
}
.contentsDiv ul li {
    list-style-type: none;
    font-size: 13px;
}
.contentsDiv ul li .priceTagAndRating {
    display: flex;
    justify-content: space-between;
    width: 32%;
}

.innerMainArticleDiv {
    opacity: 0;
    transform: translateY(20px); 
    transition: opacity 0.5s ease, transform 0.5s ease;
}
.innerMainArticleDiv.visible {
    opacity: 1;
    transform: translateY(0);
}

#submitButton {
    height: 1em;
    margin-top: 7px;
    padding-bottom: 24px;
    width: 131px;
    font-weight: bold;
    color: white;
    font-size: 13px;
    background-color: #5d5dd9;
    border-radius: 5px;
    border: none;
}
.logoutBtn {
    background: #5d5dd9;
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 1px;
    border-radius: 5px;
}
.mainNav {
    height: 4em;
    background-color: rgb(0, 0, 0);
    display: flex;
    justify-content: space-around;
    align-items: center;
    overflow: hidden;
    position: sticky;
    top: 0;
    z-index: 1000; 
}
.footerHeaderText {
    font-size: 12px;
}




/* Media query */
/* All the media query */
@media (min-width: 300px) and (max-width: 320px) {
    .rightNav {
        display: none;
    }
    .leftNav {
        width: 30em;
    }
    .form-control {
        display: none;
    }
}
@media (min-width: 321px) and (max-width: 340px) {
    .rightNav {
        display: none;
    }
    .leftNav {
        width: 30em;
    }
    .form-control {
        display: none;
    }
}
/* Media query for tablets and larger screens */
@media (min-width: 341px) and (max-width: 360px) {
    .rightNav {
        display: none;
    }
    .leftNav {
        width: 30em;
    }
    .form-control {
        display: none;
    }
}

/* Media query for desktops and larger screens */
@media (min-width: 361px) and (max-width: 380px) {
    .rightNav {
        display: none;
    }
    .leftNav {
        width: 30em;
    }
    .form-control {
        display: none;
    }
}

/* Media query for landscape-oriented phones */
@media (min-width: 381px) and (max-width: 400px) {
    .rightNav {
        display: none;
    }
    .leftNav {
        width: 30em;
    }
    .form-control {
        display: none;
    }
}

/* Media query for smaller mobile phones */
@media (min-width: 401px) and (max-width: 420px) {
    .rightNav {
        display: none;
    }
    .leftNav {
        width: 30em;
    }
    .form-control {
        display: none;
    }
}

@media (min-width: 421px) and (max-width: 440px) {
    .rightNav {
        display: none;
    }
    .leftNav {
        width: 30em;
    }
    .form-control {
        display: none;
    }
}

@media (min-width: 441px) and (max-width: 460px) {
    .rightNav {
        display: none;
    }
    .leftNav {
        width: 30em;
    }
    .form-control {
        display: none;
    }
}
@media (min-width: 461px) and (max-width: 480px) {
    .rightNav {
        display: none;
    }
    .leftNav {
        width: 30em;
    }
    .form-control {
        display: none;
    }
}
@media (min-width: 481px) and (max-width: 500px) {
    .rightNav {
        display: none;
    }
    .leftNav {
        width: 30em;
    }
    .form-control {
        display: none;
    }
}
@media (min-width: 501px) and (max-width: 520px) {
    .rightNav {
        display: none;
    }
    .leftNav {
        width: 30em;
    }
    .form-control {
        display: none;
    }
}
@media (min-width: 521px) and (max-width: 540px) {
    .rightNav {
        display: none;
    }
    .leftNav {
        width: 30em;
    }
    .form-control {
        display: none;
    }
}
@media (min-width: 541px) and (max-width: 560px) {
    .rightNav {
        display: none;
    }
    .leftNav {
        width: 30em;
    }
    .form-control {
        display: none;
    }
}
@media (min-width: 561px) and (max-width: 580px) {
    .rightNav {
        display: none;
    }
    .leftNav {
        width: 30em;
    }
    .form-control {
        display: none;
    }
}
@media (min-width: 581px) and (max-width: 600px) {
    .rightNav {
        display: none;
    }
    .leftNav {
        width: 30em;
    }
    .form-control {
        display: none;
    }
}
@media (min-width: 601px) and (max-width: 620px) {
    .rightNav {
        display: none;
    }
    .leftNav {
        width: 30em;
    }
    .form-control {
        display: none;
    }
}
@media (min-width: 621px) and (max-width: 640px) {
    .rightNav {
        display: none;
    }
    .leftNav {
        width: 30em;
    }
    .form-control {
        display: none;
    }
}
@media (min-width: 641px) and (max-width: 660px) {
    .rightNav {
        display: none;
    }
    .leftNav {
        width: 30em;
    }
    .form-control {
        display: none;
    }
}
@media (min-width: 661px) and (max-width: 680px) {
    .rightNav {
        display: none;
    }
    .leftNav {
        width: 30em;
    }
    .form-control {
        display: none;
    }
}
@media (min-width: 681px) and (max-width: 700px) {
    .rightNav {
        display: none;
    }
    .leftNav {
        width: 30em;
    }
    .form-control {
        display: none;
    }
}

