* {
    margin: 0px; 
    padding: 0px; 
    font-family: 'Poppins';
}
p {
    margin-top: 0;
    margin-bottom: 0rem;
}
.footerContainer {
    font-size: 12px;
    margin-top: 239px;
}
.mainNav {
    height: 4em;
    background-color: rgb(0, 0, 0);
    display: flex;
    justify-content: space-around;
    align-items: center;
    overflow: hidden;
    position: sticky;
    top: 0;
    z-index: 1000; 
}
.navContainerDiv {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 75%;
}
.rightNav {
    display: flex;
    width: 2em;
    margin-right: 20em;
    justify-content: space-between;
}
.searchInputForm {
    height: 48px;
    padding-left: 1em;
    border-radius: 5px;
    margin-right: 5px;
    font-size: 12px;
    outline: none;
    border: 2px solid #a5a5cf;
}
.leftNav {
    display: flex;
    width: 24%;
    justify-content: space-evenly;
}
.leftNav a {
    text-decoration: none;
    color: white;
    font-size: 14px;
}
.mainArticle {
    display: grid;
    padding: 4em;
    align-items: center;
    justify-items: center;
}
.imageProducts {
    height: 200px;
    width: 200px;
    border: 1px solid #f2f2f2;
    border-radius: 11px;
}

.innerMainArticleDiv {
    display: flex;
    width: 50em;
    border: 2px solid #e9e9e9;
    margin-bottom: 1em;
    padding-top: 7px;
    padding-left: 7px;
    padding-bottom: 7px;
}
.imageDiv {
    width: 13em; 
}
.contentsDiv {
    width: 37em;
}
.contentsDiv ul li {
    list-style-type: none;
    font-size: 13px;
}
.contentsDiv ul li .priceTagAndRating {
    display: flex;
    justify-content: space-between;
    width: 32%;
}

.innerMainArticleDiv {
    opacity: 0;
    transform: translateY(20px); 
    transition: opacity 0.5s ease, transform 0.5s ease;
}
.innerMainArticleDiv.visible {
    opacity: 1;
    transform: translateY(0);
}

.submitButton {
    height: 3em;
    width: 131px;
    font-weight: bold;
    color: white;
    background-color: #5d5dd9;
    border-radius: 5px;
    border: none;
}
.logoutBtn {
    background: #5d5dd9;
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 1px;
    border-radius: 5px;
}
.mainNav {
    height: 4em;
    background-color: rgb(0, 0, 0);
    display: flex;
    justify-content: space-around;
    align-items: center;
    overflow: hidden;
    position: sticky;
    top: 0;
    z-index: 1000; 
}

